
:root{
    --main-color:#08638d;
}
body{
    margin:0;
    padding:0;

}

header{
    background-color: rgb(221, 130, 130);
    color:#fff;
}

.web-header{
    padding: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.web-header img{
    width: 90px;
    height: 90px;
    margin:0 30px;
}

.web-header h1{
    margin:0 auto;
}

.social-icons{
    text-align: right;
    flex-grow: 1;
}

.social-icons i{
    margin: 0 8px;
}

nav{
    /* background-color: transparent; */
    height: 50px;
    margin-bottom: 20px;
}

nav ul{
    margin:25px 0 0 0;

}

.navbar-nav li{
    padding: 10px 20px;
}

.navbar-nav li a{
    color:#fff;
    font-size: 20px;
    font-weight: 800;

}

.navbar-nav li a:hover{
    color:var(--main-color);
}