
:root{
    --main-color:#0fa6ec;
}
body{
    margin:0;
    padding:0;

}

header{
    background-color: rgb(80, 27, 27);
    color:#fff;
}

.web-header{
    padding: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.web-header img{
    width: 90px;
    height: 90px;
    margin:0 30px;
}

.web-header h1{
    margin:0 auto;
}

.social-icons{
    text-align: right;
    flex-grow: 1;
}

.social-icons i{
    margin: 0 8px;
}

nav{
    /* background-color: transparent; */
    height: 50px;
    margin-bottom: 20px;
}

nav ul{
    margin:25px 0 0 0;

}

.navbar-nav li{
    padding: 10px 20px;
}

.navbar-nav li a{
    color:#fff;
    font-size: 20px;
    font-weight: 800;

}

.navbar-nav li a:hover{
    color:var(--main-color);
}

.breaking-news-section{
    padding:0 30px 0 60px;
    display: flex;
}

#btext{
    width: 200px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:var(--main-color);
    font-weight: 800;
    margin:auto 0;
}

.breaking-news{
    padding: 30px;
    color:#fff;
    font-weight: 800;
    display: inline-block;
}

.breaking-news:hover,
.social-icons i:hover{
    color:var(--main-color);
    cursor: pointer;
}

.bntime{
    display: inline-block;
    color:rgba(255,255,255,.5);
    padding:0 10px;
    font-size: 12px;
}